$primary-color: #409EFF;
$primary-color-1: #337ecc;
$primary-color-2: #79bbff;
$primary-color-3: #a0cfff;
$primary-color-4: #c6e2ff;
$primary-color-5: #d9ecff;
$primary-color-6: #ecf5ff;

$success-color: #67C23A;
$success-color-1: #529b2e;
$success-color-2: #95d475;
$success-color-3: #b3e19d;
$success-color-4: #d1edc4;
$success-color-5: #e1f3d8;
$success-color-6: #f0f9eb;

$warning-color: #E6A23C;
$warning-color-1: #b88230;
$warning-color-2: #eebe77;
$warning-color-3: #f3d19e;
$warning-color-4: #f8e3c5;
$warning-color-5: #faecd8;
$warning-color-6: #fdf6ec;

$danger-color: #F56C6C;
$danger-color-1: #c45656;
$danger-color-2: #f89898;
$danger-color-3: #fab6b6;
$danger-color-4: #fcd3d3;
$danger-color-5: #fde2e2;
$danger-color-6: #fef0f0;

$info-color: #909399;
$info-color-1: #73767a;
$info-color-2: #b1b3b8;
$info-color-3: #c8c9cc;
$info-color-4: #dedfe0;
$info-color-5: #e9e9eb;
$info-color-6: #f4f4f5;

$white-color: #ffffff;

// 边框颜色
$base-border-color: #DCDFE6;

// 文本颜色
$primary-text: #303133; 
$regular-text: #606266;
$secondary-text: #909399;
$placeholder-text: #A8ABB2;

$page-background: #F2F3F5;
$hover-background: #dee0e3;